
body {
  background: white;
  font-family: "Arial Narrow";
  padding:0px;
  margin:0;
  -webkit-font-smoothing: antialiased;

}
.main-body{
	padding:5%;
}
 .main-body a:link {
	color: orange;
}

.promotion_pane {
    margin:0;
    border:none;
    width: 100%;
    background: #121212;
	padding: 0% 0;
    display: inline-block;
    flex-wrap: wrap;
}

.promotion_pane img {
    border:none;
	max-width:33%;
	min-width:33%;
}

a {
  text-decoration: none;
}

	/* unvisited link */
a:link {
    color:#000;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
	background-color: #E3CB47;
}

/* selected link */
a:active {
    color: #CCC;
}
.navbar {

	position:fixed;
	top:0;
	width:100%;
	z-index:+100;
}





.main_h {
  position: fixed;
  top: 0px;
  max-height: 300px;
  z-index: 299;
  width: 100%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;

}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 0px;
  }
  .promotion_pane img{
  	max-width:32.5%;
	min-width:32.5%;
  }
}


.sticky {
  background-color: #ccf;
  opacity: 0.97;
  top: 0px;
  border-bottom: 0px;
  height:auto;
}


@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 76px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;


}
@media only screen and (max-width: 76px) {
  nav ul {
    
    
    float: left;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 905px) {
  .main_h {
  	top:0;
	opacity:1;
  }
  nav {
	visibility: hidden;
  }
}


.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}


.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}







@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  


}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }


}

nav {

  width: 100%;
  
  
  position:relative;



}

nav ul {

  list-style:none;
  height: auto;
  width:100%;

}


nav ul li {
  display: inline-block;

  font-size:22px;

}


nav ul li a {

  display:inline-block;
  padding:0px 20px;
  text-decoration:none;
  line-height: 60px;

  font-size:20px;
}

nav ul li:hover {
  background: #ffff99;
}


nav ul li:hover > a{
    color:#FFFFFF;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  background: #F5F5F5;
  
  font-weight:bold;
  padding:0;
  text-align: center;
  display:none;
  width: 80%;
  position: absolute;
  

  transition: 0.5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/*begin contact form*/
.container {
	max-width:500px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 "Cambria"; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #c3b538;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:23px;
}



#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}



#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#E3CB47;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:25px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
/*end contact form*/





  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:gray;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:gray;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:gray;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:gray;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:gray;
  }
  
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #CCC009;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #000;
}

/* Add a background color and some padding around the form */
.container-contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.quick-quote {
	border-radius: 5px;
    background-color: #000;
    color: white;
    padding: 25px 35px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin:5%;
}
.quick-quote:hover {
	background-color: #cc9900;
}
.tooltip {
  width:50%;
  text-align:center;
  z-index:9999;
  
}

.tooltiptext {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: left;
  border-radius: 10px;
  padding: 5px;
  margin:5px;
  /* Position the tooltip */
  position: absolute;

}

#logo:hover .tooltiptext {
  visibility: visible;
}

#tooltiptag {
  top:2em;
  visibility: hidden;
  opacity:0;
  width: 50%;
  background-color:rgba(0,0,0,0.9);
  color: #fff;
  text-align: center;
  padding: 25px 25px;
  /* Position the tooltip */
  position: absolute;
  z-index: 10000;
  transition-property: opacity;
  transition-duration: 1s;
}
#tooltiptag #seal {
	width:50%;
	height:auto;
}
#tooltiptag .closebox {
    height:1em;
	width:auto;
	text-align:right;
}
#tooltiptag .closebox .closex {
    background-color:#fff;
	font-size:1.8em;
	margin:10px;
	color:#000;
	cursor:pointer;
	height:50px;
	width:auto;
}

/*the nav icon style*/
.container-nav {
    display: inline-block;
    cursor: pointer;
	right: 5px;
	margin:1em;
	position:fixed;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #CCC;
    margin: 6px 0;
	z-index: 8;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.sidenav {
    height: 100%;
    width: 0;
	z-index:9;
    position: fixed;
    background-color:rgba(00,00,00,0.8);
    top: 3.5em;
    right: 0;
    color:#FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1.5em;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #FFF;
    background-color: yellow;
}

.sidenav .closebtn {
    position: absolute;
	padding: 8px 8px 8px 32px;
    top:0;
	display: block;
	right:5px;
}