
body {

  background: white;
  font-family: "Helvetica";
  padding:0px;
  margin:0;
  -webkit-font-smoothing: antialiased;

}
  .promotion_pane {
    padding: 0% 0;
    width: 100%;
    background: #121212;
    display: inline-block;
    flex-wrap: wrap;
}
.promotion_pane img {
	max-width:25%;
}
.promotion_pane span {
    max-width:25%;
}

a {
  text-decoration: none;
}

	/* unvisited link */
a:link {
    color: #000;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
	background-color: #C3B538;
}

/* selected link */
a:active {
    color: #000;
}
.navbar {

	position:fixed;
	top:0;
	width:100%;
	z-index:+100;
}






.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    background-color: #202D58;
    background-color: #202D58;
    opacity:0.97;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	font-size:24px;
	font-weight:bold;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;

    transition: 0.3s;

}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 25px;
    top: 15px;
    right: 35px;
  }


}
.main_h {
  position: fixed;
  top: 0px;
  max-height: 300px;
  z-index: 299;
  width: 100%;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;

}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 0px;
  }
}


.sticky {
  background-color: #fff;
  opacity: 0.97;
  top: 0px;
  border-bottom: 0px;
  height:90px;
}


@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;


}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}


.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;

  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}


.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  background-color:#000000;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }


}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }


}
.sociallinks{

	position:fixed;
	bottom:5px;
        z-index:101;
	opacity:0.77;
}
nav {

  width: 100%;
  
  padding: 0;

  height: 80px;
  max-height:80px;
  position:relative;

  color:#000;
  font-size:22px;

}

nav ul {

  list-style:none;
  height: auto;
  width:100%;

}


nav ul li {
  display: inline-block;

  font-size:22px;

}


nav ul li a {

  display:inline-block;
  padding:0px 20px;
  text-decoration:none;
  height: 60px;
  line-height: 60px;

  font-size:20px;
}

nav ul li:hover {
  background: #C3B538;
}


nav ul li:hover > a{
    color:#FFFFFF;
}

nav ul li:hover > ul {
  display:block;
}

nav ul ul {
  background: #CCC;
  color:#000;
  font-size:16px;
  font-weight:bold;
  padding:0;
  text-align: center;
  display:none;
  width: 80%;
  position: absolute;
  top: 80px;
  left: 10%;
  transition: 0.5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/*begin contact form*/
.container {
	max-width:500px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 "Cambria"; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #c3b538;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:23px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
        font-family:'Cambria';
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:300px;
	max-width:100%;
        resize:none;
        font-family:'Cambria';
        font-size:18px;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#c3B538;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:25px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
/*end contact form*/



select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;


    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:gray;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:gray;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:gray;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:gray;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:gray;
  }
