body{
text-align:center;
font-size: 3rem;
color:#555;
font-family: Corbel;
}
button{
background-color: white;
border:solid;
font-size: 3rem;
border-size:3px;
padding:0.8rem;
border-color:black;
border-radius:3rem;
}
a{
text-decoration:none;
}
a:visited{
color:#555;
}
.qbox{
height:100%;
vertical-align:center;
padding:15%;
}